
.container{
 display: grid;
 grid-template-rows: 186px auto 1fr 100px;
 grid-template-columns: 1fr;
 grid-template-areas: 
      "header"
      "informatie"  
      "Map"
      "footer"; 
}


body{
  margin: 0;
  background-color: #20284F;

}
    
header{
 grid-area: header;
  
}

figure img{
  width: 300px;
  height: 150px;
}


body div#map {
  grid-area: Map;

}

body div#info {
  grid-area: informatie;
  background-color: #344180;
  color: white;
  font-family: helvetica;
  padding: 10px;
  height: 140px;

}


body footer {
  grid-area: footer;
  color: white;
  font-weight: bold;
  margin-top: 40px;
  text-decoration: underline;
  font-family: helvetica;
  text-align: center;
  color: white;

}

h1{
  margin-top: -80px;
  margin-left: 500px;
  font-family: helvetica;
  color: white;
  font-size: 45px;
}

h2, h3{

  font-family: helvetica;
}


#map {
  height: 800px;
  width: 100%;

}

p{
  font-size: 20px;
  padding: 20px;
}

.mapboxgl-popup-close-button {
  font-size: 18px;
  color: #fff;

}

.mapboxgl-popup-content {
  padding: 20px 25px 15px 20px;
  color: #fff;
  background-color: violet;

}

.mapboxgl-popup-content h3 {
  margin-top: 0;
  margin-bottom: 4px;

}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: violet;

} 

@media only screen and (min-width: 600px){
  
.container{
 display: grid;
 background-color: #20284F;
 grid-template-rows: 186px auto 100px;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-areas: 
      "header header header header" 
      "Map Map Map informatie"
      "footer footer footer footer"; 


  }

  body div#info {
  grid-area: informatie;
  background-color: #344180;
  color: white;
  font-family: helvetica;
  padding: 10px;
  height: 780px;

}

  p{
  margin-top: 140px;
  padding: 20px;

  }

  h1{
      font-size: 50px;
      margin-top: -120px;
      text-align: center;
      margin-left: 280px;
          
  }

}

@media only screen and (min-width: 768px){


  h1{
      font-size: 50px;
          
  }

  figure img{
  width: 310px;
  height: 150px;
  
  
  }

  header{
      height: 189px;
  }

}

@media only screen and (min-width: 1000px){

  h1{
      font-size: 55px;
      margin-top: -100px;
          
  }

 figure img{
  width: 320px;
  height: 165px;
  
  
  }

  header{
      height: 190px;
  }

  p{
  font-size: 22px;
}
        

}

@media only screen and (min-width: 1375px){

    h1{
      font-size: 60px;
          
    }

    figure img{
    width: 330px;
    height: 175px;
  
  
    }

    header{
      height: 200px;
    }

    p{
      font-size: 20px;
    }
        

}









